In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen, Request
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import re

url = "https://www.linkedin.com/search/results/people/?geoUrn=%5B%22104197452%22%5D&keywords=data%20analyst&origin=FACETED_SEARCH&sid=Tqr"

req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
page = urlopen(req)

#url = "https://www.linkedin.com/mynetwork/invite-connect/connections"
driver = webdriver.Chrome('./chromedriver')
driver.get(url)

time.sleep(1)
usr = "lateefahlabellebello@gmail.com"
pwd = "@Labelle1"
 
time.sleep(1)
if driver.find_element_by_id("organic-div"):
    driver.find_element_by_id("organic-div").click()

elem = driver.find_element_by_id("username")
elem.send_keys(usr)
 
elem = driver.find_element_by_id("password")
elem.send_keys(pwd)
 
elem.send_keys(Keys.RETURN)

soup =  bs(driver.page_source, "lxml")
print(soup.prettify())

In [2]:
HtmlFile = open("linkedin.html", 'r', encoding='utf-8')
source_code = HtmlFile.read()

In [3]:
soup = bs(source_code)

In [4]:
all_profiles = soup.find_all("span", {"dir": "ltr"})

In [9]:
names = []
for i in all_profiles:
    if i.find("span", class_ = False):
        profile = i.text
        name = re.sub('V.*',"", profile)
        names.append(name)

In [10]:
all_summary = soup.find_all("p", class_ = "entity-result__summary--2-lines")
summaries = []
for i in all_summary:
    summaries.append(i.text.strip())

In [54]:
all_roles = soup.find_all("div", class_="entity-result__primary-subtitle")
roles = []
companies = []
for i in all_roles:
    old = i.text.strip()
    new = old.split(" at ", 2)
    if len(new) == 2:
        roles.append(new[0].lower())
        companies.append(new[1].lower())
    else:
        roles.append("data analyst")
        companies.append("open to work")

In [55]:
all_locations = soup.find_all("div", class_="entity-result__secondary-subtitle")
locations = []
for i in all_locations:
    locations.append(i.text.strip())

In [53]:
print(len(roles))

3

In [56]:
all_profile_info = {"name": names,
                    "role": roles,
                    "company": companies,
                    "location": locations,
                   "summary": summaries}

In [58]:
df = pd.DataFrame(all_profile_info)
df

,name,role,company,location,summary
0,Abdulrahman Ibrahim,data analyst,stathub analytics,Lagos,Certifications: SQL-MySQL for data Analytics a...
1,Deborah Ayandipe,data analyst,open to work,Ogbomosho,Current: Data Analyst at Illuminal Statistical...
2,Seun Sotayo,data analyst,ailead technologies,Lagos,"Past: Educational manager, Data analyst at Lit..."
3,Dickson Daniel,data analyst/ business intelligence team member,primero transport services limited,Lagos Mainland,Current: Data Analyst at Primero Transport Ser...
4,Babatunde Banwo,data analyst,tolaram group,Lagos,Summary: I am a motivated and diverse professi...
5,"Mary Miti, ACIB",data analyst,access bank plc,"Lagos, Nigeria",Current: Data Analyst at Access Bank Plc
6,"Uyiosa Nosa-Akpasubi, PMP",data analyst,open to work,Lagos,Current: Data Analyst at Niyer Consult
7,"Bolaji J. Adebisi, ùëÄùëÜùëê., ùê¥ùê∂ùêºùêµ",data analyst,access bank plc,"Lagos, Nigeria",Certifications: Microsoft Certified: Data Anal...
8,Anuoluwapo Afolabi,data analyst,vivo,Ikorodu,Current: Data Analyst at Vivo - work as a data...
9,Rodhiyat Raheem,data analyst,open to work,Lagos,Current: Data Analyst at Upwork